/**
* Base rules
*/
body, input, textarea, select, button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}

a, .btn-link {
  text-decoration: none;
}
a:hover, a:focus, .btn-link:hover, .btn-link:focus {
  text-decoration: none;
}

/**
* Layout rules
*/
#page {
  padding-top: 50px;
  padding-bottom: 50px;
  /* http://caniuse.com/#feat=viewport-units */
  min-height: 100vh;
}
#page h1, #page p {
  margin-bottom: .714em;
}
#page img {
  /* Responsive image */
  display: block;
  max-width: 100%;
  height: auto;
  /* Center block */
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  #page {
    text-align: justify;
  }
  #page h1, #page h2, #page h3, #page h4, #page h5, #page h6 {
    text-align: start;
  }
}

/**
* Modules
*/
.input-group .form-control:first-child {
  border-radius: 4px;
}

.navbar {
  margin-bottom: 0;
}
.navbar .l-left > .navbar-btn:first-child {
  padding-left: 0;
}
@media (max-width: 320px) {
  .navbar .l-left > .btn-lg {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.navbar .l-right {
  text-align: right;
}
.navbar .l-right > .navbar-btn:last-child {
  padding-right: 0;
}
@media (max-width: 320px) {
  .navbar .l-right > .btn-lg {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.navbar .navbar-btn.btn-lg {
  margin-top: 2px;
  margin-bottom: 2px;
}
.navbar .navbar-text {
  float: none;
  white-space: nowrap;
}
.navbar .navbar-text.navbar-right {
  margin-right: 0;
}
.navbar .navbar-text .glyphicon {
  margin-right: .5em;
}

.popover {
  padding: 0;
  max-width: none;
  min-width: 300px;
}
.popover .popover-content {
  padding: 0;
}
.popover .popover-content .row {
  padding-top: 5px;
  padding-bottom: 5px;
}
.popover .popover-content .row + .row {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.popover .popover-content .text {
  line-height: 40px;
}
.popover .popover-content .input-sm {
  margin-top: 5px;
  margin-bottom: 5px;
}

/**
* State rules
*/
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/**
* Font rules
*/
.font-athelas {
  font-family: "Athelas", serif;
}

.font-charter {
  font-family: "Charter", serif;
}

.font-georgia {
  font-family: "Georgia", serif;
}

.font-iowan {
  font-family: "Iowan Old Style", serif;
}

.font-palatino {
  font-family: "Palatino", "Palatino Linotype", serif;
}

.font-seravek {
  font-family: "Seravek", sans-serif;
}

.font-times {
  font-family: "Times New Roman", serif;
}

.font-small {
  font-size: 18px;
}

.font-large {
  font-size: 22px;
}

/**
* Theme rules
*/
.theme-white {
  background-color: #fff;
  color: #030303;
}
.theme-white .navbar {
  background-color: #fff;
  border-color: #b2b2b2;
}
.theme-white .navbar .navbar-text {
  color: #030303;
}
.theme-white .navbar a, .theme-white .navbar .btn-link {
  color: #177efb;
}
.theme-white .navbar a:hover, .theme-white .navbar .btn-link:hover {
  color: #71b0fd;
}
.theme-white .popover {
  background-color: #fff;
  color: #030303;
}
.theme-white .popover .arrow::after {
  border-bottom-color: #fff;
}

.theme-sepia {
  background-color: #f5efdd;
  color: #030303;
}
.theme-sepia .navbar {
  background-color: #f5efdd;
  border-color: #aba79b;
}
.theme-sepia .navbar .navbar-text {
  color: #3f2a19;
}
.theme-sepia .navbar a, .theme-sepia .navbar .btn-link {
  color: #b77e2e;
}
.theme-sepia .navbar a:hover, .theme-sepia .navbar .btn-link:hover {
  color: #d9aa68;
}
.theme-sepia .popover {
  background-color: #fff;
  color: #030303;
}
.theme-sepia .popover .arrow::after {
  border-bottom-color: #fff;
}

.theme-night {
  background-color: #030303;
  color: #999;
}
.theme-night .form-control {
  color: #787878;
  background-color: #1e1f21;
  border-color: #1e1f21;
}
.theme-night #page img {
  opacity: .6;
}
.theme-night #page code {
  color: #999;
  background-color: #030303;
}
.theme-night #page pre {
  color: #999;
  background-color: #030303;
  border-color: #999;
}
.theme-night #page blockquote {
  color: #999;
  background-color: #030303;
  border-left-color: #999;
}
.theme-night .navbar {
  background-color: #030303;
  border-color: #030303;
}
.theme-night .navbar .navbar-text {
  color: #999;
}
.theme-night .navbar a, .theme-night .navbar .btn-link {
  color: #ccc;
}
.theme-night .navbar a:hover, .theme-night .navbar .btn-link:hover {
  color: #9e9e9e;
}
.theme-night .popover {
  background-color: #2e2e2e;
  color: #999;
}
.theme-night .popover .arrow::after {
  border-bottom-color: #2e2e2e;
}
